#NewRegistrationPopup ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #717171 !important;
}
#NewRegistrationPopup ::-moz-placeholder { /* Firefox 19+ */
  color: #717171 !important;
}
#NewRegistrationPopup :-ms-input-placeholder { /* IE 10+ */
  color: #717171 !important;
}
#NewRegistrationPopup :-moz-placeholder { /* Firefox 18- */
  color: #717171 !important;
}
#passwordrules {
  margin-top: 5px; }
#passwordrules div {
  margin-bottom: 3px;
  vertical-align: middle !important; }
#passwordrules div span {
  margin-left: 8px;
  display:inline-block;
  width:18px;
  height:18px;
  vertical-align: middle !important; }
#passwordrules div span.nrp-notOK {
  background: url("bad.png") no-repeat;
  background-size:contain;
}
#passwordrules div span.nrp-OK {
  background: url("good.png") no-repeat;
  background-size:contain;
}
#NewRegistrationPopup {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: 0.5s;
  display: none; }
#NewRegistrationPopup p {
  margin: 0; }
#NewRegistrationPopup .nrp-right {
  float: right; }
#NewRegistrationPopup .nrp-left {
  float: left; }
#NewRegistrationPopup a {
  display: inline-block;
  color: #00599e;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer; }
#NewRegistrationPopup a:hover {
  text-decoration: underline; }
#NewRegistrationPopup input[type="text"], #NewRegistrationPopup input[type="password"] {
  width: 100% !important;
  max-width: 100% !important;
  border: 0;
  border-bottom: 1px solid #717171;
  margin: 0;
  padding: 5px 0 3px !important;
  font-size: 18px !important;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 0;
  outline: none;
  color: #717171 !important;
  background: #fff !important;}
#NewRegistrationPopup #nrp-passwd-visibility {
    display: block !important;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url(ic_visibility_black_24.png) no-repeat 0 5px;
    right: 0;
	cursor: pointer;
	opacity:0.5;
	z-index:10;
}
#NewRegistrationPopup #nrp-passwd-visibility.off {
	background: url(ic_visibility_off_black_24.png) no-repeat 0 5px;
}
#NewRegistrationPopup .nrp-birthday h3 {
  width: 100% !important;
  border: 0;
  margin: 0;
  padding: 5px 0 3px;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 0;
  outline: none;
  color: #717171 !important;
  background: #fff !important;
}
#NewRegistrationPopup .nrp-birthday .nrp-birthday-msg {
  color: #969696;
  font-size: 14px;
  margin-bottom: 6px;
  vertical-align: middle !important;
}
#NewRegistrationPopup .nrp-birthday .nrp-birthday-month,
#NewRegistrationPopup .nrp-birthday .nrp-birthday-day,
#NewRegistrationPopup .nrp-birthday .nrp-birthday-year {
  width: 125px;
  border: 0;
  border-bottom: 1px solid #717171;
  margin: 0 0 10px 0;
  padding: 5px 0 3px;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 0;
  outline: none;
  color: #717171 !important;
  background: #fff !important;
}

#NewRegistrationPopup #parent-email {
  display: none;
}

#NewRegistrationPopup #parent-email .parentnote {
  color: #969696;
  font-size: 12px;
  margin: 10px 0;
  vertical-align: middle !important;
}

#NewRegistrationPopup input[type="text"]:focus, #NewRegistrationPopup input[type="password"]:focus {
  outline: none;
  color: #5f5f5f; }
#NewRegistrationPopup .nrp-inputwrapper {
  margin-bottom: 20px;
  position:relative;	}
#NewRegistrationPopup .nrp-inputwrapper label {
  display: none; }
#NewRegistrationPopup .nrp-inputwrapper #reg_verif_image {
  display: none !important; }
#NewRegistrationPopup .nrp-inputwrapper div.redbox ,#NewRegistrationPopup .nrp-inputwrapper p.redbox{
  background: #fff;
  border: 0;
  color: #f95b45;
  padding: 10px 0 0;
  font-weight: 500;
  font-size: 13px; }
#NewRegistrationPopup .nrp-inputwrapper #reg_verif_div.greenbox {
  background: #fff;
  border: 0;
  color: #4ab548;
  padding: 10px 0 0;
  font-weight: 500;
  font-size: 13px; }
#NewRegistrationPopup fieldset {
  border: 0 !important;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
  -webkit-padding-before: 0 !important;
  -webkit-padding-start: 0 !important;
  -webkit-padding-end: 0 !important;
  -webkit-padding-after: 0 !important; }
#NewRegistrationPopup fieldset legend {
  display: none; }
#NewRegistrationPopup fieldset p {
  font-size: 12px;
  color: #717171;
  margin-top: 5px !important; }
#NewRegistrationPopup fieldset label {
  display: block;
  padding: 20px 0;
  color: #000;
  font-size: 16px; }
#NewRegistrationPopup fieldset label[for="vs_verification_standard_radio"] {
  border-bottom: 1px solid #d0cbcb; }
#NewRegistrationPopup fieldset label input[type="radio"] {
  margin-right: 15px; }
#NewRegistrationPopup fieldset br {
  display: none; }
#NewRegistrationPopup #vs_verification_standard_method fieldset {
  text-align: center !important;
  margin-top: 25px; }
#NewRegistrationPopup  #adcopy-outer {
  display: block;
  margin: 18px auto 0;}

#NewRegistrationContainer {
  width: 96%;
  max-width: 500px;
  min-width: 340px;
  background-color: #e6e6e6;
  min-height: 300px;
  max-height: 90%;
  overflow-y: auto;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  color: #717171;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  border-bottom: 4px solid #00599e;
  position: absolute;
  left: 0;
  right: 0;
  /*top: 50%;
  transform: translateY(-50%); */ }
.cameFromTopify #NewRegistrationContainer{
  width:100vw;
  max-width:100vw;
  height:100vh;
  max-height:100vh;
  margin-top:0 !important;
}
#NewRegistrationContainer .nrp-header {
  height: 46px;
  background-color: #00599e;
  position: relative;
  text-align: left;}
#NewRegistrationContainer .nrp-header span {
  display: inline-block;
  color: #fff;
  font-size: 23px;
  margin: 13px 0 0 20px;
}
#NewRegistrationContainer .nrp-header .nrp-close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: url("close.png") no-repeat;
  background-size: contain; }
#NewRegistrationContainer .nrp-header #nrpStepBack {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px 0 0 10px;
  vertical-align:top;
  background: url("back.png") no-repeat;
  background-size: contain; }

#NewRegistrationContainer .nrp-content {
  padding: 25px 20px;
  position: relative;
  display: none;
  text-align: left;}
#NewRegistrationContainer .nrp-content table, #NewRegistrationContainer .nrp-content tbody, #NewRegistrationContainer .nrp-content tr, #NewRegistrationContainer .nrp-content td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 0;
  width: 100%;
  display: block; }
#NewRegistrationContainer .nrp-content #passwordrules {
  margin-top: 10px; }
#NewRegistrationContainer .nrp-content #passwordrules div {
  color: #969696;
  font-size: 14px;
  margin-bottom: 6px;
  vertical-align: middle !important; }
#NewRegistrationContainer .nrp-content #passwordrules div span {
  margin-left: 8px;
  display:inline-block;
  width:18px;
  height:18px;
  vertical-align: middle !important; }
#NewRegistrationContainer .nrp-content #passwordrules div span.nrp-notOK {
  background: url("bad.png") no-repeat;
  background-size:contain;
}
#NewRegistrationContainer .nrp-content #passwordrules div span.nrp-OK {
  background: url("good.png") no-repeat;
  background-size:contain;
}
#NewRegistrationContainer .nrp-register-social{display: block;}
#NewRegistrationContainer .nrp-popup {
  background-color: #fff;
  box-shadow: #878787 0px 8px 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2px;
  padding: 20px;
  max-width: 450px;
  min-width: 300px;
  width: 85%;
  font-size: 14px;
  line-height: 18px;
  display: none;
  max-height: 50%;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 20;
  /*top: 20px;
  bottom: 20px;*/
}
#NewRegistrationContainer .nrp-popup .nrp-popuptitle {
  font-size: 23px;
  margin-bottom: 20px;
  color: #000; }
#NewRegistrationContainer .nrp-popup .nrp-errortitle {
  color: #ff5440 !important;
}
#NewRegistrationContainer .nrp-popup .nrp-close {
  display: inline-block;
  margin-top: 20px;}
#NewRegistrationContainer .nrp-popup ul {
  margin: 20px 0 10px 40px;
  padding: 0;
  list-style: none; }
#NewRegistrationContainer .nrp-popup ul li {
  margin-bottom: 13px;
  vertical-align: middle;
  font-size: 18px; }
#NewRegistrationContainer .nrp-popup ul li:before {
  content: "";
  display: inline-block;
  background: url("checkmark.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  vertical-align: middle; }
#NewRegistrationContainer .nrp-pagetitle {
  margin: 0 0 20px 15px;
  font-size: 18px; }
#NewRegistrationContainer .nrp-pagetitle.nrp-or {
  margin-top: 7px !important;
  text-align: left !important;
  font-size: 16px !important;
}
#NewRegistrationContainer .nrp-shadowbox, .nrpCustomInputFields {
  background-color: white;
  box-shadow: #dddddd 0px 3px 0px;
  box-sizing: border-box;
  padding: 25px;
  overflow: hidden;
  margin-bottom: 25px; }
@media (min-width: 960px) {
  #NewRegistrationContainer .nrp-shadowbox {
    padding: 30px; } }
#NewRegistrationContainer .nrp-green-btn, #NewRegistrationContainer .nrp-bigbtn {
  color: #fff;
  background-color: #4ab548;
  text-transform: none;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px; }
#NewRegistrationContainer .nrp-green-btn:hover, #NewRegistrationContainer .nrp-bigbtn:hover {
  opacity: 0.8;
  text-decoration: none; }
#NewRegistrationContainer .nrp-socialbuttons:hover{
	opacity: 1 !important;}
#NewRegistrationContainer .nrp-plans {
  padding: 20px 25px; }
#NewRegistrationContainer .nrp-plans p {
  color: #000;
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 20px;
  line-height: 19px;
  font-weight: 500;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s; }
@media (min-width: 960px) {
  #NewRegistrationContainer .nrp-plans p {
    font-size: 25px;
    line-height: 25px; } }
#NewRegistrationContainer .nrp-plans .nrp-price {
  font-size: 20px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 13px;
  display: inline-block;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s; }
@media (min-width: 960px) {
  #NewRegistrationContainer .nrp-plans .nrp-price {
    font-size: 25px;
    line-height: 25px; } }
#NewRegistrationContainer .nrp-plans .nrp-price span {
  font-size: 15px; }
@media (min-width: 960px) {
  #NewRegistrationContainer .nrp-plans .nrp-price span {
    font-size: 20px; } }
#NewRegistrationContainer .nrp-plans .nrp-left {
  width: 58%; }
#NewRegistrationContainer .nrp-plans .nrp-left a {
  margin-top: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;}
#NewRegistrationContainer .nrp-plans .nrp-left p {
  font-family: Roboto, "Helvetica Neue", sans-serif; }
#NewRegistrationContainer .nrp-plans .nrp-left a.vglnk {
  margin-top: 0;
  color: #000; }
#NewRegistrationContainer .nrp-plans .nrp-right {
  width: 30%;
  text-align: center; }
#NewRegistrationContainer .nrp-plans .nrp-green-btn, #NewRegistrationContainer .nrp-plans .nrp-bigbtn {
  width: 100%;
  text-align: center; }
#NewRegistrationContainer .nrp-plans.nrp-business {
  background-color: #ecf7fb; }
#NewRegistrationContainer .nrp-plans.nrp-business p {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #00508d; }
#NewRegistrationContainer .nrp-plans.nrp-freeplan p {
  line-height: 40px; }
#NewRegistrationContainer .nrp-plans input[type="radio"] {
  display: none; }
#NewRegistrationContainer .nrp-bigbtn {
  width: 100%;
  margin-bottom: 13px;
  text-align: center;
  padding: 11px; }
#NewRegistrationContainer .nrp-bigbtn span {
  vertical-align: middle;
  min-width: 230px;
  display: inline-block;
  text-align: left;
  text-indent: 75px;
  line-height: 46px;
  width:100%}
#NewRegistrationContainer .nrp-bigbtn span:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 25px; }
#NewRegistrationContainer .nrp-account .nrp-or {
  text-align: center;
  margin-bottom: 20px; }
#NewRegistrationContainer .nrp-account .nrp-continue {
  margin-bottom: 20px;
  padding: 25px 10px;}
#NewRegistrationContainer .nrp-account .nrp-socialbuttons{
  font-size:20px;
  position:relative;
  margin-bottom: 17px;}
@media (max-width: 530px) {
  #NewRegistrationContainer .nrp-account .nrp-socialbuttons{
  font-size:16px;
  } }
#NewRegistrationContainer .nrp-account .nrp-facebook {
  background-color: #4267b2; box-shadow: none; }
#NewRegistrationContainer .nrp-account .nrp-email {
  background-color: #4ab548; }
#NewRegistrationContainer .nrp-account .nrp-socialbuttons span:before {
  width: 46px;
  height: 46px;
  background-size: contain;
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 11px;
  vertical-align: middle;}
#NewRegistrationContainer .nrp-account .nrp-facebook span:before {
  background: url(https://static.verticalscope.com/vs_toucan_assets/facebook-sq.png) no-repeat; background-size: contain;width: 35px; height: 35px; left: 16px; top: 16px;}
#NewRegistrationContainer .nrp-account .nrp-email span:before {
  background: url(email-sq.png) no-repeat 4px 7px;}
#NewRegistrationContainer .nrp-account .nrp-google {
  background-color: #4285f4;box-shadow: none;}
#NewRegistrationContainer .nrp-account .nrp-google span:before {
  background: url(https://static.verticalscope.com/vs_toucan_assets/google-sq.png) no-repeat; background-size: contain;width: 62px;height: 62px;top: 3px;left: 3px;}
#NewRegistrationContainer .nrp-account .nrp-twitter {
  background-color: #1da1f2; }
#NewRegistrationContainer .nrp-account .nrp-twitter span:before {
  background: url(twitter-sq.png) no-repeat;}
#NewRegistrationContainer .nrp-register .nrp-frules{
  cursor:pointer;
  text-decoration:underline;
}
#NewRegistrationContainer .nrp-register .nrp-registerbtn {
  border: 0 !important;
  color: #fff !important;
  background-color: #4ab548 !important;
  text-transform: uppercase;
  padding: 25px 10px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#NewRegistrationContainer #imagereg{
  margin-top: 20px;
}
#NewRegistrationPopup .nrp-newsletterCk fieldset{font-size: 14px}
#NewRegistrationContainer .nrp-register label[for="cb_adminemail"], #NewRegistrationContainer .nrp-register label[for="cb_rules_agree"], #NewRegistrationContainer .nrp-register label[for="cb_vs_postup_receive_newsletter"], #NewRegistrationContainer .nrp-register label[for="cb_receive_newsletter_input"], #NewRegistrationContainer .nrp-register label[for="cb_receive_newsletter"]{
  display: block;
  margin: 0 20px 20px 50px !important;
  font-size: 14px !important;
  position: relative; }
#NewRegistrationContainer .nrp-register label[for="cb_adminemail"] input, #NewRegistrationContainer .nrp-register label[for="cb_rules_agree"] input , #NewRegistrationContainer .nrp-register label[for="cb_vs_postup_receive_newsletter"] input, #NewRegistrationContainer .nrp-register label[for="cb_receive_newsletter_input"] input , #NewRegistrationContainer .nrp-register label[for="cb_receive_newsletter"] input  {
  position: absolute;
  left: -30px;
  top: 2px;
  margin: 0 !important;
  padding: 0; }
#NewRegistrationContainer .nrp-register label[for="cb_adminemail"] a, #NewRegistrationContainer .nrp-register label[for="cb_rules_agree"] a {
  text-transform: none;
  text-decoration: none;
  font-size: 14px; }
#NewRegistrationPopup .nrp-newsletterCk .fieldset {
  display: block;
  margin: 0 20px 20px 50px !important;
  font-size: 14px !important;
  position: relative;
}
#NewRegistrationPopup .nrp-newsletterCk .fieldset input[type="checkbox"]{
  position: absolute;
  left: -30px;
  top: 2px;
  margin: 0 !important;
  padding: 0;
}
#NewRegistrationContainer .nrp-register .nrp-newsletterCk label[for="cb_vs_postup_receive_newsletter"],
#NewRegistrationContainer .nrp-register .nrp-newsletterCk label[for="cb_receive_newsletter_input"]{
  margin: 0 !important;
  color: #717171;
  padding: 0;
}
#NewRegistrationContainer .nrp-register #vs_verification_sms_method #vs_cellphone_number_area_code {
  width: 15% !important;
  margin-right: 1%;
  margin-bottom: 20px; }
#NewRegistrationContainer .nrp-register #vs_verification_sms_method #vs_cellphone_number {
  width: 82% !important;
  margin-bottom: 20px; }
#NewRegistrationContainer .nrp-register #vs_verification_sms_method a {
  margin-bottom: 10px; }
#NewRegistrationContainer .nrp-register #vs_verification_sms_method #vs_sms_verification_spinner {
  margin-top: 15px; }

#NewRegistrationPopup .nrpCustomInputFields{margin-bottom: 32px;}
#NewRegistrationPopup .nrpCustomInputFields h6{margin:10px 0;color: #717171;font-weight:500;}
#NewRegistrationPopup .nrpCustomInputFields fieldset legend{display: block; color: #717171; margin-top: 10px;font-size: 16px; font-weight:500;padding: 0; margin-bottom: 5px;}
#NewRegistrationPopup .nrpCustomInputFields input,#NewRegistrationPopup .nrpCustomInputFields select{margin-bottom: 17px;}
#NewRegistrationPopup .nrpCustomInputFields:before {content: "Please fill in the required information"; font-size: 18px; margin-bottom: 30px; display: block;}
#NewRegistrationPopup .nrpCustomInputFields table td { font-size: 14px;}
#NewRegistrationPopup .nrpCustomInputFields textarea {max-width: 390px; width: 100%;}
#NewRegistrationPopup fieldset .nrpCustomInputFields label, #NewRegistrationPopup .nrpCustomInputFields label{padding: 5px 0 0;}
#NewRegistrationPopup .blockrow,#NewRegistrationPopup .blocksubhead{padding:0;margin:0;background:none;border:0;}
#NewRegistrationPopup .blocksubhead{color:#717171; font-weight:500;margin-bottom:10px}
#NewRegistrationPopup form .rightcol{margin-left: 0px !important; max-width: none !important;}
#NewRegistrationPopup #solvemediaWrapper,#NewRegistrationPopup #solvemediaWrapper div {text-align: center;}
#NewRegistrationPopup #solvemediaWrapper div {display:inline-block;margin:5px auto 0}
/* resize reCaptcha for smaller screens */
@media screen and (max-width: 405px){
	#NewRegistrationContainer .g-recaptcha {
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	#NewRegistrationContainer .recaptcha_v2 {width:250px !important}
}
/* Full screen for smaller devices */
@media screen and (max-width: 600px){
	#NewRegistrationPopup {
		width:100vw;
		max-width:100vw;
		height:100vh;
		max-height:100vh;
	}
	#NewRegistrationContainer{
		width:100vw;
		max-width:100vw;
		height:100vh;
		max-height:100vh;
		margin-top:0 !important;
	}
	#NewRegistrationContainer .nrp-content{ padding-bottom: 60px;}
}